:root{
    --title-color-fatura: black;
}

.darkmode{
    --title-color-fatura: white;
}


.section__botoes--fatura{
    margin-top: 8.55%;
}

.section__fatura--pill{
    margin-top: 6%;
}

.title__fatura{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--title-color-fatura);
}

.section__content--fatura{
    margin-top: 4%;
}

.div__botao--gerar--fatura{
    margin-top: 4%;
}

.section__filtro--fatura{
    margin-top: 1%;
}