:root{
    --title-color: black;
}

.darkmode{
    --title-color: white;
}

.section__altera--senha{
    margin-top: 6%;
    left:50%;
    top:50%;
    transform: translate(-50, -50);
}

.title__altera--senha{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--title-color);
}

.eye__icon{
    width: 15px;
    margin-top: 22px;
    border-radius: 20%;
    padding: 5px;
}

.div__botao--alterar{
    margin-top: 3%;
}

.icone__inside {
  position:absolute;
  top:0; 
  right:0;
  margin-right: 20px;
  margin-top: 8px;
  z-index:10;
  border:none;
  background:transparent;
  outline:none;
}

.div__icone--inside {
  position: relative;
}

.msg__span--erro-senha{
    color: #fff ;
    background-color: #8F0200;
    font-size: 13px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #CA023B;
    margin-top: 10px;
}


.recaptcha{
    transform:scale(0.76);
    -webkit-transform:scale(0.76);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
    overflow-x: hidden;
}

@media only screen and (max-width: 420px) {
  .recaptcha {
    transform:scale(0.50);
  }
}