:root{
    --label-color: white;
    --button-accordion-background: #232323;
    --button-accordion-color: white;
    --button-background-focus: rgb(24, 24, 24);
    --item-accordion-background:#5F5F5F;
}



.darkmode{
    --label-color: white;
    ---button-accordion-background: rgb(70, 70, 70);
    --button-accordion-color: white;
    --button-background-focus: rgb(24, 24, 24);
    --item-accordion-background:#3D3D3D;
}



.section__accoordion{
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left:0px;
    margin-right:0px;
    padding:0px;
}

.div__acordion{
    padding:8px;
}

.accoordion__header{
    border-radius: 12px;
    background-color: rgb(31, 31, 31);
}

.button__accoordion{
    background-color: var(--button-accordion-background) ;
    color: var(--button-accordion-color);
    border-radius: 9px !important;
    transition: 300ms ease-in-out;
}

.button__accoordion:hover{
    transform: scale(1.01);
    transition: 300ms ease-in-out;
}

.button__accoordion:focus{
    background-color: var(--button-background-focus);
    color: var(--button-accordion-color);
    box-shadow: none !important;
}

.accordion-button:not(.collapsed){
    background-color: var(--button-background-focus);
    color: var(--button-accordion-color);
    box-shadow: none !important;
}

.item__acorddion{
    border-radius: 9px;
    background-color: var(--item-accordion-background);
    margin-top: 3px;
}

.item__acorddion:first-child{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.item__acorddion:last-child{
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.letter__color{
    color: var(--label-color);
}

.required{
    color:red;
}

.div__switch{
    margin-left: 5px;
}

.title__switch{
    margin-top: 5px;
    color:white;
}

.accordion-button::after {
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") ;  
}

.accordion-button:not(.collapsed)::after {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") ;  
}

