:root{
    --color-botao-voltar: black;
    --color-botao-voltar-hover:#2E3238;
}

.darkmode{
    --color-botao-voltar: white;
    --color-botao-voltar-hover:#E7DADA;
}


.botao{
    border-radius: 10px;
    background-color:  #2A795B;
    /*border: 1px solid #477EFF;*/
    color: white;
    transition: 300ms ease-in-out;
    box-shadow: 0px 2px 2px 1px rgba(19, 42, 38, 0.8); 
}

.botao:hover{
    background-color:  #205B44;
    /*border: 1px solid #6567F6;*/
    color: white;
    transform: scale(1.06);
    transition: 300ms ease-in-out;
    box-shadow: 0px 2px 2px 1px rgba(19, 42, 38, 0.5); 
}

.div__voltar{
    margin-bottom: 40px;
}

.botao__voltar{
    color: var(--color-botao-voltar);
    font-size: 1.1rem;
    font-weight: 200;
    transition: 200ms ease-in-out;
    text-decoration: none;
}

.botao__voltar:hover{
    color: var(--color-botao-voltar-hover);
    transition: 200ms ease-in-out;
    transform: scale(1.06);
}

.botao__calcular{
    border-radius: 8px;
    background-color: #388334;
    color: white;
    font-size: 1rem;
    transition: 200ms ease-in-out;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.botao__calcular:hover{
    background-color: #193A17;
    color: white;
    transition: 200ms ease-in-out;
    transform: scale(1.02);
}

.botao__enviar{
    background-color: #388334;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    transition: 200ms ease-in-out;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.botao__enviar:hover{
    background-color: #193A17;
    color: white;
    transition: 200ms ease-in-out;
    transform: scale(1.02);
}

.botao__alterar{
    background-color: #388334;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    transition: 200ms ease-in-out;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.botao__alterar:hover{
    background-color: #193A17;
    color: white;
    transition: 200ms ease-in-out;
    transform: scale(1.06);
}


.pill__item{
    background-color: #525251;
    color: white;
    border-radius:3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border:  1px solid #1F2633;
    transition: 200ms ease-in-out;
}


.pill__item .nav-link:hover{
    background-color: #251679;
    transform: scale(1.03);
    transition: 200ms ease-in-out;
}

.pill__item .nav-link.active{
    background-color: #251679 !important;
    transform: scale(1.03);
    transition: 200ms ease-in-out;
}




