:root{
    --bg-footer: linear-gradient(120deg, #08295E, #2C188B, #2B188C);
}

.darkmode{
    --bg-footer: linear-gradient(120deg, rgba(11,11,11,1) 0%, rgba(37,37,37,1) 100%);;
}

footer{
    margin-top: 300px;
}

.footer{
    background-image: var(--bg-footer);
    position: absolute;
    color: #FFF;
    width: 100%;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    font-size:13px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}