:root{
    --modal-content-bg-color:white;
    --modal-title-color: black;
    --body-modal-color: white;
}

.darkmode{
    --modal-content-bg-color:#333333;
    --modal-title-color:white;
    --body-modal-color: #333333;
}

.icon__exit--modal{
    color: red;
    transition: 200ms ease;
}

.icon__exit--modal:hover{
    color: #B30505;
    transform: scale(1.2);
    transition: 300ms ease-out;
}

.icon__exit--modal:focus{
    transform: scale(1.2);
    border: none !important;
}


.modal-content{
    background-color:var(--modal-content-bg-color) ;
    border-radius: 15px;
    box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.5);
}

.modal-title{
    color: var(--modal-title-color);
    font-weight: 500;
}

.body__modal{
    background-color: var(--body-modal-color);
}

.header__modal{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.gif__warning--delete{
    width: 100px;
    height: 100px;
    animation: animaIconeDelete 1s ease infinite alternate;
}

@keyframes animaIconeDelete{
    from{
        transform: scale(1) rotate(-5deg)
    }
    to{
        transform: scale(0.95) rotate(5deg);
    }
}

.content--deletar{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size:18px;
    font-weight: 600;
    color: var(--modal-title-color);;
}

.content--deletar2{
    text-align: center
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:14px;
    font-weight: 400;
    color: var(--modal-title-color);;
}


.botao__fechar--modal{
    background-color: #376CA9;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    transition: 200ms ease-in-out;
    text-decoration: none;
}

.botao__fechar--modal:hover{
    background-color: #23456C;
    color: white;
    transition: 200ms ease-in-out;
    transform: scale(1.06);
}


.botao__deletar--modal{
    background: #9F1922;
    color:#fff;
    border:none;
    border-radius:8px;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #008F0E  inset;
}
.botao__deletar--modal:hover{
    border-radius:8px;
    color:white;
    -webkit-box-shadow: 100px 0 0 #008F0E inset;

}


.modal__aviso{
    font-size:22px;
    text-align: center;
    color:white;
}

.modal__aviso--title{
    font-size:26px;
    text-align: center;
    color:white;
}


