.videoFoto{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 6px 5px 4px rgba(0, 0, 0, 0.4);
}

canvas{
    width: 100% !important;
    border-radius: 20px;
    position: relative;
    /*box-shadow: 0px 6px 5px 4px rgba(0, 0, 0, 0.4);*/
}