:root{
    --bg-navbar: linear-gradient(120deg, #08295E, #2C188B, #2B188C);
}

.darkmode{
    --bg-navbar: linear-gradient(120deg, rgba(11,11,11,1) 0%, rgba(37,37,37,1) 100%);;
}

.navb__burger--button{
    border-radius: 10px;
    background-color: #1F1F1F;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    transition: 300ms ease-in-out;
    border: 1px solid #8F8F8F;

}

.navb__burger--button:focus{
    box-shadow: none;
    transition: 300ms ease-in-out;
    
}

.navbar-toggler {
    font-size:none;
}

.nav__bar{
    background-image: var(--bg-navbar);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.logo__clickavel{
    transition: 300ms ease-in-out;
}

.logo__clickavel:hover{
    transform: scale(1.08);
    transition: 300ms ease-in-out;
}

.dropdown-menu{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    /*transition: ease-in-out 400ms !important;*/
    box-shadow: 4px 6px 4px 4px rgba(0, 0, 0, 0.5);
    
}


.borderLinkHover{
    animation: borderLinkHover 3s ease  !important;
}


@keyframes borderLinkHover{
    from{
        transform-origin: right;
    }
    
    to{
        transform-origin: left;
    }
}

.navbar .nav-link::before {
    position: absolute;
    right: 80%;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 1px;
    background: #FFF;
    transition: right 0.4s ease-in-out;
    content: "";
  }

.navbar .nav-link:hover:before{
      right: 0;
    }
    
.dropdown-item{
    color: white;
    transition: ease-in-out 400ms  !important;
    cursor: pointer !important;
    
}

.dropdown-item:hover{
    color: black;
    background-color: white;
    border-radius: 20px;
    transition: ease-in-out 400ms;
    box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.5);
}


.nav-link{
    color: #E0E0E0 !important;
    transition: 200ms ease !important;
    font-weight: 500;
}

.nav-link:hover{
    color: white !important;
    transform: scale(1.02);
    transition: 200ms ease  !important;

}

.nav-link:focus{
    color: white !important;
    transform: scale(1.02);
    transition: 300ms ease-in-out;
    box-shadow: none !important;
    font-weight: 500;
}
