:root {
    --branco: white;
    --azul-escuro: #0C1618;
    --dark-gray: #303030;
    --light-gray: #cfcfcf;

    --dark-purple: #ad3be2;
    --light-purple: #A594F9;
    --light-blue: #45b9eb;

    --login-purple: #7371FC;
    --hover-dark-blue:#2420dd;
}