  
:root{
    --body-bg:radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(237,237,241,1) 14%, rgba(228,228,232,1) 29%, rgba(222,225,226,1) 51%, rgba(236,236,236,1) 83%);
    --body-color: black;
    --input-hover:1px 0.5px rgb(5, 133, 252), 0 0 1px rgba(0, 89, 255, 0.986);
    --input-focus-color: #6606e4;
    --input-focus-box: 1px 0.5px  rgba(18, 89, 243, 0.507), 0 0 1px rgba(96, 64, 240, 0.486);
    --button-hover-color:rgb(26, 1, 117);
    --botao-dark-mode-color: rgb(252, 250, 250);
    --botao-dark-mode-icon-color:black;
    --hover-dark-mode-bg: rgb(14, 13, 13);
    --hover-dark-mode-color: white;
    --img-trab-color:1.7px solid #5345B0;
    --pesq-background: #1D1D20;
    --pesq-color-font: white;
    --modal-delete-bg: #2E50DC;
    --modal-delbody-bg: #044C9F;
    --modal-delfooter-bg: #2E50DC;
    --btn-fechar-bg: #033977;
    --btn-deletar-bg: #CB1531;
    --btn-success-bg: #088f5b;
}

.darkmode{
    --body-bg: linear-gradient(90deg, rgba(38,37,37,1) 0%, rgba(73,71,71,1) 45%, rgba(34,33,33,1) 100%);
    --body-color: rgb(247, 243, 243);
    --input-hover: 1px 1px rgb(5, 252, 252), 0 0px 1px rgba(0, 140, 255, 0.986);
    --input-focus-color: #060aff;
    --input-focus-box: 1px 1px  rgba(18, 89, 243, 0.507), 0 0 1px rgba(96, 64, 240, 0.486);
    --button-hover-color:#593CB9;
    --botao-dark-mode-color: rgb(14, 13, 13);
    --botao-dark-mode-icon-color: white;
    --hover-dark-mode-bg: rgb(252, 250, 250);
    --hover-dark-mode-color: black;
    --img-trab-color:2px solid #241E4E;
    --pesq-background: #1D1D20;
    --pesq-color-font: #FFFFFF;
    --modal-delete-bg: #333333;
    --modal-delbody-bg: #7A7A7A;
    --modal-delfooter-bg: #333333;
    --btn-fechar-bg: #033977;
    --btn-deletar-bg: #CB1531;
    --btn-success-bg: #088f5b;
}

html, body {
    min-height: 100%;
}


.dropdown-menu{
    background-image: linear-gradient(120deg, #1250d6, #0751f3, rgb(71, 42, 236));
    margin-top: 10px;
}

.dropdown-item{
    color: white;
    transition: ease-in-out 300ms;
}

.dropdown-item:hover{
    color: black;
    transition: ease-in-out 300ms;
}




body{
    font-family: 'Poppins', sans-serif;
    background-image: var(--body-bg);
    color: var(--body-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

main{
    margin-bottom: 100px;
}


.conteudo{
    flex: 1 0 auto;
}

.swal2-file{
    background-color:red;
}

.swal2-file:hover{
    border-color:none;
    border-radius:none;
    box-shadow:none;
    transition:none;
    margin-left:none;
}

/*form input[type="text"] {*/
/*            text-transform: uppercase;*/
/*            color:black !important;*/
/*            font-weight: bold !important;*/
/*            margin-left: 0 !important;*/
/*        }*/


/*input:hover{*/
/*    border-color: #4f29f89a;*/
/*    border-radius: 5px;*/
/*    box-shadow: var(--input-hover);*/
/*    transition:  ease-in-out .4s;*/
/*    margin-left: 0 !important;*/

/*}*/



.form-check-label{
    font-size: 16px;
}

.botao{
    background-color: #194bf0;
    border: 1px solid #477EFF;
    color: white;
}

.botao:hover{
    background-color: #002B8F;
    border: 1px solid #6567F6;
    color: white;
}


.inputfoto{
    background-color:#474747;
    color:white;
    padding:8px;
    border-radius: 7px;
}

.nice{
    color:white;
    background-color: gray;
}




.botao__dark{
    width:40px;
    height:40px;
    border-radius: 100%;
    background-color: var(--botao-dark-mode-color);
    color: var(--botao-dark-mode-icon-color);
}

.botao__dark:hover{
    background-color: var(--hover-dark-mode-bg);
    color: var(--hover-dark-mode-color);
    transition: ease-out 1s;
    transition: ease-in 800ms;
}

.form-control:focus {
    border-color: var(--input-focus-color);
    border-radius: 5px;
    box-shadow: var(--input-focus-box);
    transition: 900ms;

}



.table-hover:hover{
    background-color: var(--button-hover-color);
    transition: ease-in-out .2s;
}

.pesquisar{
    background-color:var(--pesq-background);
    color:var(--pesq-color-font);
    border-radius: 8px;
}

.iconsear{
    padding-top: 10px;
    padding-left:10px;
    padding-right:10px;
}

.modal__delete{
    background-color: var(--modal-delete-bg);
}

.modal-delbody{
    background-color: var(--modal-delbody-bg);
    color:white;
}

.modal-delfooter{
    background-color: var(--modal-delfooter-bg);
    color:white;
}

.btn__fechar{
    background-color: var(--btn-fechar-bg);
    color:white;
    border: 1px solid #477EFF;
}

.btn__fechar:hover{
    background-color:#021D3C;
    color:white;
    transition: 600ms;
}

.btn__deletar{
    background-color: var(--btn-deletar-bg);
    color:white;
    border: 1px solid #EE596F;
}

.btn__deletar:hover{
    background-color: #810E1F;
    color:white;
    transition: 600ms;
}

.btn__success{
    background-color: var(--btn-success-bg);
    color:white;
    border: 1px solid #059f19;

}

.btn__success:hover{
    background-color: #015a0d;
    color:white;
    transition: 600ms; 
}



.bguser{
    background-color: #002B8F;
    border-radius: 10px;
    padding: 7px;
    border-color: #3370FF;

}

.searhicon{
    border-radius: 3px;
    padding-right:10px;
    padding-left: 10px;
}

.trabfoto{
    width: 100px; 
    height: 130px;
    border: var(--img-trab-color) ;
}

.logfoto{
    width:100px; 
    height: 100px;
    border: var(--img-trab-color) ;
}

.trash__delete{
    background-color: red;
}

.data{
    display: flex;
    justify-content: start;
}

.data2{
    display: flex;

}



.dataFinal{
    margin-left: 5px;
}

.quadro{
    width: 60%;
}

.quadro__body{
    background-color: rgb(61, 73, 245);
    margin-top: 150px;
    margin-bottom: 150px;
}

.quadro__header{
    color: white;
    font-size: 18px;
    font-weight: bold;
}


.title__quadro{
    width:100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}


.nav-pills .nav-link{
    background-color: #194bf0 !important;
    border:  1px solid #477EFF;
    border-radius:3px;
}

.nav-pills .nav-link.active{
    background-color: #182D63 !important;
}

.offcanvas-end{
    background-color: #1250d6;
}

.offcanvas-body{
    background-color: #1250d6;
}

.botaoPesquisa{
    border-radius: 8px;
    margin-left: 5px;
    background-color:#394041;
    color: white;
}

.botaoPesquisa:hover{
    background-color:#5F6B6D;
    color: white;
}


.bodyTabela{
    background-color: #081049;
    color: white;
    transition: 400ms;
    transition-timing-function: ease-in-out;
}

.bodyTabela:hover{
    background-color: #0C186E;
    color: white;
}

.table{
    border-radius: 10px !important;
    border: none !important;
}

.btn__padrao--vizualizar{
    background-color:#42287B;
    border: 1px solid #ea8dfd;
    padding-top:7.5px;
    padding-bottom:7.5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 6px;
    transition: 400ms;
}

.btn__padrao--vizualizar:hover{
    background-color:#7707ac;
}


.btn__padrao--imprimir{
    padding-top:7.5px;
    padding-bottom:7.5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 6px;
    background-color:#1E16B6;
    border: 1px solid #5149E9;
    transition: 400ms;
}

.btn__padrao--imprimir:hover{
    background-color:#0F0B5B;
}

.btn__padrao--editar{
    padding-top:7px;
    padding-bottom:7px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 6px;
    background-color:#117E25;
    border: 1px solid #5DE977;
    transition: 400ms;
}

.btn__padrao--editar:hover{
    background-color:#0C5A1A;
    
}

.btn__padrao--excluir{
    padding-top:7px;
    padding-bottom:7px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 6px;
    background-color:#A30E00;
    border: 1px solid #FF5747;
    transition: 400ms;
}

.btn__padrao--excluir:hover{
    background-color:#660900;
}

.btn__padrao--relatorio{
    padding-top:7px;
    padding-bottom:7px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 6px;
    background-color:#0B87C1;
    border: 1px solid #8CD6F8;
    transition: 400ms;
}

.iconPesquisar:hover{
    color: red;
}


.box__principal{
    /*width: 400px;*/
    /*background-color: rgba(18, 18, 43, .9);*/
    /*border-radius: 10px;*/
    /*padding: 20px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /*box-shadow: 4px 10px 10px rgba(0, 0, 0, .5);*/

}

.logo__principal{
    width: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.titleHome{
    font-family: 'Bakbak One', cursive;
    font-size: 65px;
    text-align: center;
    margin-bottom: 0px;
}

.titleHomeLittle{
    margin-top: 0px;
    font-family: 'Bakbak One', cursive;
    font-size: 30px;
    text-align: center;
}

.quebraLinha{
    max-width: 30ch; 
    overflow: hidden; 
    text-overflow: ellipsis;
}






 .imagem{
        animation: carregamento 2s linear infinite;
      }

      @keyframes carregamento{
        25%{
          transform: rotate(90deg);
        }
        50%{
          transform: rotate(180deg);
        }
        75%{
          transform: rotate(270deg);
        }
        100%{
          transform: rotate(360deg);
        }
      }





footer{
    
    background-image: linear-gradient(75deg, #03256C, #0751f3, rgb(33, 5, 197));
    position: absolute;
    color: #FFF;
    width: 100%;
    height: 60px;    
    text-align: center;
    line-height: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    font-size:14px;
}

@media only screen and (max-width: 280px) {
    .quadro{
        width: 95%;
    }

    .quadro__header{
        font-size: 16px;
    }
}

@media only screen and (max-width: 392px) {
    .quadro{
        width: 90%;
    }
    
    .title__quadro{
        font-size:10px;
    }
}

@media only screen and (max-width: 406px) {
    .quadro{
        width: 90%;
    }
    
    .title__quadro{
        font-size:10px;
    }
}

@media only screen and (max-width: 414px) {
    .quadro{
        width: 90%;
    }
    
    .box__principal{
        width:250px;
    }
}

@media only screen and (max-width: 572px) {
    .quadro{
        width: 90%;
    }

}


@media only screen and (max-width: 600px) {
  footer {
    font-size:11px;
  }
  
  .botao__dark{
      width:32px;
      height: 32px;
      margin-top: 10px;
  }
  
  .iconbtn{
      width:8px;
      padding-right: 40px;
  }
  
  .userwidth{
      margin-top:8px;
  }
  
  .data{
        display: flex;
        flex-direction: column;
    }
    
    .dataFinal{
        margin-top: 8px;
        margin-left: 0px;
    }

    .data2{
        display: flex;
        flex-direction: column;
    
    }


    .title__quadro{
        font-size: 23px;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .quadro{
        width: 80%;
    }
}

@media only screen and (max-width: 1057px) {
    .botao__dark{
      width:32px;
      height: 32px;
  }


}

@media only screen and (max-width: 1057px) {
    html, body{
        width:100%;
    }
    
    
    .botao__dark{
      width:32px;
      height: 32px;
  }

  .fonttop {
      font-size: 14px;
  }
}























