
.naoGostou{
    color: #690500;
}

.naoGostouHover:hover{
    color: #690500;
}

.mediano{
    color:#FFA733;
}

.medianoHover:hover{
    color:#FFA733;
}

.gostouMuito{
    color: #134611;
}

.gostouMuitoHover:hover{
    color: #134611;
}

.feliz{
    color: #3DA35D;
}

.felizHover:hover{
    color: #3DA35D;
}


.feedback{
    z-index: 1000 !important;
    background-color:#478500;
    width:120px;
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px;
    transition: 400ms ease-in-out;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#feedback{
    color: white;
    font-weight: 500;
     font-size: 16px !important;
     text-decoration:none !important;
}

#feedback a{
    color: white;
    font-weight: 500;
     font-size: 16px !important;
     text-decoration: none !important;
}

.feedback:hover{
    transition: 400ms ease-in-out;
    transform: scale(1.06);
    background-color:#134611;
}